Repository Haron1248/Magnuri, pull requests merged in 2024-04, with the labels that each got.

#4 [Design] 포탑 기둥 및 중기관총 포탑 디자인
  Asset/Turret/HeavyMachineTurret.blend
  Asset/Turret/HeavyMachineTurret.blend1
  Asset/Turret/TurretPillar.blend
Labels: Blend

#6 [design] 포격포탑 메쉬 디자인
  Asset/Turret/CannonTurret.blend
  Asset/Turret/CannonTurret.blend1
Labels: Blend

#10 Feature : BaseTurret
  UnrealProject/Magnuri/Source/Magnuri/Base_Turret.cpp
  UnrealProject/Magnuri/Source/Magnuri/Base_Turret.h
  UnrealProject/Magnuri/Source/Magnuri/Control_Turret.cpp
  UnrealProject/Magnuri/Source/Magnuri/Control_Turret.h
Labels: Feature

#13 refactor : 기존 소스코드 제거
  UnrealProject/Magnuri/Source/Magnuri/Base_Turret.cpp
  UnrealProject/Magnuri/Source/Magnuri/Base_Turret.h
  UnrealProject/Magnuri/Source/Magnuri/Control_Turret.cpp
  UnrealProject/Magnuri/Source/Magnuri/Control_Turret.h
Labels: Refactor
